<%= form_for @pic, html: { multipart: true } do |form| %>

  <% if pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% pic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Opis %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Obraz" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <% if request.env['PATH_INFO'].split("/").last == "edit" %>
    <%= form.submit "Edytuj PIC" %>
    <% elsif %>
    <%= form.submit "Dodaj PIC" %>
    <% end %>
      
  </div>
<% end %>


