<p id="notice"><%= notice %></p>

<h1>Pics</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pics.each do |pic| %>
      <tr>
        <td><%= pic.description %></td>
        <td><%= link_to 'Wyświetl', pic %></td>
        <% if pic.user == currnet_user %>
          <td><%= link_to 'Edytuj', edit_pic_path(pic) %></td>
        <td><%= link_to 'Usuń', pic, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pic', new_pic_path %>
