<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
  <%= image_tag @pic.image.url(:medium) %><br/>
</p>

<% if @pic.user == current_user %>
	<%= link_to 'Edytuj', edit_pic_path(@pic) %>
<% end %>
<%= link_to 'Powrót', pics_path %>
